
.card-image1 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image2 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image3 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image4 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image5 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image6 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image7 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image8 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image9 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image10 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image11 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image12 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image13 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image14 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  
